#GameStore{
    display: flex;
    background-color: lightblue;
    justify-content: space-around;
}

.StoreSection{
}

.Store_Img{
    width: 8vw;
}

#Garden{
    display: grid;
    grid-template-areas:
    "oneone onetwo onethree onefour"
    "twoone twotwo twothree twofour"
    "threeone threetwo threethree threefour"
    "fourone fourtwo fourthree fourfour";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

.GardenSection{
    background-color: blue;
    height:20vw;
    text-align: center;
}
.GardenSection p{
    margin: 2px;
    text-align: center;
}

.Garden_Img{
    width: 8vw;
}

#garden_oneone{ grid-area: oneone;}
#garden_onetwo{ grid-area: onetwo;}
#garden_onethree{ grid-area: onethree;}
#garden_onefour{ grid-area: onefour;}
#garden_twoone{ grid-area: twoone;}
#garden_twotwo{ grid-area: twotwo;}
#garden_twothree{ grid-area: twothree;}
#garden_twofour{ grid-area: twofour;}
#garden_threeone{ grid-area: threeone;}
#garden_threetwo{ grid-area: threetwo;}
#garden_threethree{ grid-area: threethree;}
#garden_threefour{ grid-area: threefour;}
#garden_fourone{ grid-area: fourone;}
#garden_fourtwo{ grid-area: fourtwo;}
#garden_fourthree{ grid-area: fourthree;}
#garden_fourfour{ grid-area: fourfour;}